
@{
    Layout = "~/Views/Shared/_InternalLayout.cshtml";
    Page.Title = "عن نجران";
}

<div class="MainthreeServ">
    <div class="threeSection slide-right" style="opacity: 1; visibility: visible; position: relative; left: 0px;">
        <h3 class="bolded threeTitl centered">نجران في سطور</h3>
        <span class="AboutNajContainer">
            <img src="/images/AboutNaj.png"><div class="ms-webpart-zone ms-fullWidth">
                <div id="MSOZoneCell_WebPartWPQ1" class="s4-wpcell-plain ms-webpartzone-cell ms-webpart-cell-vertical ms-fullWidth ">
                    <div class="ms-webpart-chrome ms-webpart-chrome-vertical ms-webpart-chrome-fullWidth ">
                        <div webpartid="fa2df57c-734e-417e-bd54-8031f92925b4" haspers="false" id="WebPartWPQ1" width="100%" class="ms-WPBody " allowdelete="false" style=""><div class="ms-rtestate-field">teshyhyysمنطقة نجران هي إحدى المناطق الثلاثة عشر للمملكة العربية السعودية، وتقع في جنوب غرب المملكة على الحدود مع اليمن. وتبلغ مساحة منطقة نجران 360000 كم2، وعدد سكانها 505,652 نسمة حسب إحصائيات عام (2010)م. وعاصمتها هي مدينة نجران. تشتهر بالـزراعة.....</div><div class="ms-clear"></div></div>
                    </div>
                </div>
            </div>
        </span>
        <span class="DefPageLink"><a href="/AboutNajran/Overview">التفاصيل &gt;&gt; </a></span>
        <img class="threeSectionShadow" src="/images/threeSectionShadow.jpg">
    </div>
    <div class="threeSection slide-top" style="opacity: 1; visibility: visible; position: relative; bottom: 0px;">
        <h3 class="bolded threeTitl centered">دليل نجران</h3>
        <span class="AboutNajContainer">
            <img src="/images/AboutMaps.png">
            <div class="ms-webpart-zone ms-fullWidth">
                <div id="MSOZoneCell_WebPartWPQ2" class="s4-wpcell-plain ms-webpartzone-cell ms-webpart-cell-vertical ms-fullWidth ">
                    <div class="ms-webpart-chrome ms-webpart-chrome-vertical ms-webpart-chrome-fullWidth ">
                        <div webpartid="5d4661bd-f459-4caf-8a6a-92898e844be5" haspers="false" id="WebPartWPQ2" width="100%" class="ms-WPBody " allowdelete="false" style=""><div class="ms-rtestate-field">منطقة نجران هي إحدى المناطق الثلاثة عشر للمملكة العربية السعودية، وتقع في جنوب غرب المملكة على الحدود مع اليمن. وتبلغ مساحة منطقة نجران 360000 كم2، وعدد سكانها 505,652 نسمة حسب إحصائيات عام (2010)م. وعاصمتها هي مدينة نجران. تشتهر بالـزراعة.....</div><div class="ms-clear"></div></div>
                    </div>
                </div>
            </div>
        </span>
        <span class="DefPageLink"><a href="/AboutNajran/Guide">التفاصيل &gt;&gt; </a></span>
        <img class="threeSectionShadow" src="/images/threeSectionShadow.jpg">
    </div>
    <div class="threeSection slide-left" style="opacity: 1; visibility: visible; position: relative; right: 0px;">
        <h3 class="bolded threeTitl centered">نجران في صور</h3>
        <span class="AboutNajContainer">
            <img src="/images/AboutImages.png">
            <div class="ms-webpart-zone ms-fullWidth">
                <div id="MSOZoneCell_WebPartWPQ3" class="s4-wpcell-plain ms-webpartzone-cell ms-webpart-cell-vertical ms-fullWidth ">
                    <div class="ms-webpart-chrome ms-webpart-chrome-vertical ms-webpart-chrome-fullWidth ">
                        <div webpartid="923fb014-1da3-416b-b57a-9651d7dfcab7" haspers="false" id="WebPartWPQ3" width="100%" class="ms-WPBody " allowdelete="false" style=""><div class="ms-rtestate-field">منطقة نجران هي إحدى المناطق الثلاثة عشر للمملكة العربية السعودية، وتقع في جنوب غرب المملكة على الحدود مع اليمن. وتبلغ مساحة منطقة نجران 360000 كم2، وعدد سكانها 505,652 نسمة حسب إحصائيات عام (2010)م. وعاصمتها هي مدينة نجران. تشتهر بالـزراعة.....</div><div class="ms-clear"></div></div>
                    </div>
                </div>
            </div>
        </span>
        <span class="DefPageLink"><a href="/AboutNajran/PhotoGallery">التفاصيل &gt;&gt; </a></span>
        <img class="threeSectionShadow" src="/images/threeSectionShadow.jpg">
    </div>
</div>